*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: black;
}

html{
	font-size: 62.5%;
}

.container .input{
	border: 0;
	outline: none;
}

.search_wrap{
	width: 500px;
	margin: 30px auto;	
}

.search_wrap .search_box{
	position: relative;
	width: 500px;
	height: 60px;
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 18px;
}

.search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	z-index: 1;
	cursor: pointer;
}


.search-bar{
	width: 100%;
	max-width: 700px;
	background: rgba(255, 255, 255, 0.2);
	display: flex;
	align-items: center;
	border-radius: 60px;
	padding: 10px 20px;
}

.container .search-bar button img{
	width: 50px;
	height: 50px;
}

main{
	max-width: 1500px;
	width:95%;
	margin: 30px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
}

main .card{
	max-width: 300px;
	flex: 1 1 210px;
	text-align: center;
	height: 400px;
	border: 1px solid lightgray;
	margin: 20px;
}

main .card .image{
	height: 50%;
	margin-bottom: 20px;
}

main .card .image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

main .card .caption{
	padding-left: 1em;
	text-align: left;
	line-height: 3em;
	height: 25%;
}

main .card .caption p{
	font-size: 1.5rem;
}


main .card a{
	width: 50%;
}

main .card button{
	background-color: white;
	border: 2px solid #0073ff;
	padding: 1em;
	width: 80%;
	cursor: pointer;
	font-weight: bold;
	position: relative;
	transition-duration: 0.3s;
}

main .card button:hover{
	color: #0073ff;
}

body {

	background-color: none;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	}

#load-more{
	margin-top: 20px;
	display: inline-block;
	padding: 10px 30px;
	color:#334;
	font-size: 16px;
	background-color: white;
	border: 2px solid #0073ff;
	width: 80%;
	cursor: pointer;
	font-weight: bold;
	position: relative;
	transition-duration: 0.3s;

}

#load-more:hover{
	color: #0073ff;
}