*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: black;
}

html{
	font-size: 62.5%;
}

.title h1{
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
}

.theme{
	max-width: 1200px;
	width:95%;
	margin: 30px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
}

.theme .card{
	max-width: 600px;
	flex: 1 1 210px;
	text-align: center;
	height: 400px;
    width: 400px;
	border: 1px solid lightgray;
	margin: 20px;
}

.theme .card .image{
	height: 50%;
	margin-bottom: 20px;
}

.theme .card .image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.theme .card .caption{
	padding-left: 1em;
	text-align: left;
	line-height: 3em;
	height: 25%;
}

.theme .card .caption h2{
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
}


.theme .card a{
	width: 50%;
}

.theme .card button{
	background-color: white;
	border: 1px solid #334;
	padding: 1em;
	width: 80%;
	cursor: pointer;
	position: relative;
	transition-duration: 0.3s;
}

.theme .card button:hover{
	background-color: #0073ff;
	border-color: #0073ff;
	color: #fff;
}

#back{
	margin-top: 20px;
    margin-left: 45%;
	display: inline-block;
	padding: 10px 30px;
	color:#334;
	font-size: 16px;
	background-color: white;
	border: 1px solid black;
	width: 10%;
	cursor: pointer;
	position: relative;
	transition-duration: 0.3s;
    text-align: center;
	margin-bottom: 3%;

}

#back a{
	text-decoration: none;
}

#back:hover{
	background-color: #0073ff;
	border-color: #0073ff;
}

#back:hover a{
	color: #fff;
}